body {
  font-family: 'Mona Sans', 'Segoe UI', Arial, sans-serif;
  background-color: #f5f5f5;
  padding: 20px;
}

h1 {
  font-size: 50px;
  text-align: center;
  margin-bottom: 30px;
}

form {
  background-color: #ffffff;
  border-radius: 5px;
  padding: 20px;
  max-width: 500px;
  margin: 0 auto;
  box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.1);
}

label {
  display: block;
  margin-bottom: 10px;
}

input[type="text"], input[type="number"], input[type="file"] {
  width: 100%;
  padding: 10px;
  border: 1px solid #ddd;
  border-radius: 5px;
  margin-bottom: 20px;
}

.button {
  padding: 10px 20px;
  background-color: #007BFF;
  color: #ffffff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  transition-duration: 0.4s; /* Animation to change color */
}

.button:hover {
  background-color: #0056b3;
  color: white;
}

button:hover {
  background-color: #0056b3;
}